// Specific CSS for your home-page

body {

}

// Upper

.upper-wrapper {
  background-image: asset-url('cabinet.jpg');
  width: 100%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.banner {
  height: 200px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 720px;
  }

.buttons-home {
  height: 80px;
  width: 320px;
  background-color: rgba(250,250,250,0.5);
  border: none;
  margin: 10px 10px;
  border-radius: 5px;
  color: gray;
  font-size: 24px;
  &:hover {
    background-color: rgba(250,250,250,0.8);
    }
}

// Bottom


.bottom-wrapper {
  padding: 50px 20px 20px 20px;
}


// Testimonials Cards

.testimonial-box img {
    display: inline-block;
    width: 90px;
    height:90px;
    border-radius: 50%;
    margin: 0 0 10px;
}
.testimonial-box h4 {
    color: gray;
}
.testimonial-box p {
    margin-bottom: 20px;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}
.ratings-icons {
    color: #fec42d;
    margin-bottom: 15px;
}

footer {
  background-color: gray;
  margin-top: 50px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  div,a {
    color: white;
    font-size: 14px;
  }
}

