// All CSS from Homes Model


// homes#index



.homes-title {
  display: flex;
  justify-content: center;
}

.owner-home {
  background-color: white;
  width: 450px;
  margin: 10px;
  border-radius: 5px;
}

.homes-index-middle-wrapper {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  background-color: rgba(250,250,250,0.8);
  display: flex;
  position: relative;
}

label {
    font-weight: normal !important;
}

.searchfield {
  width: 300px;
}

.homes-index-search {
  position: absolute;
  top: 5px;
  left: 10px;
  color: gray;
  form {
  input {
    border-radius: 5px;
    margin: 0 5px 0 5px;
  }
  }
}


.map-wrapper {
  width: 60%;
  margin: 10px;
  #map {
  width: 100%;
  height: 550px;
  margin-top: 35px;
  border-radius: 5px;
  }
}

.homes-index-list-wrapper-title {
  background-color: gray;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  h2 {
  color: white;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 24px;
  font-weight: lighter;
  }
}

.homes-index-list-home-button {
  button {
  width: 100%;
  background-color: gray;
  border-style: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 24px;
  font-weight: lighter;
  }
}

.homes-index-list-wrapper {
  width: 40%;
  border-radius: 5px;
  margin: 5px 20px 20px 20px;
  background-color: rgb(245,245,245);
  overflow: scroll;
}

.homes-index-list-cards {
  ul {
  position: relative;
  color: rgb(100,100,100);
  background-color: rgb(240,240,240);
  border-radius: 5px;
  margin: 15px 10px 15px 10px;
  padding: 10px 24px 5px 24px;
  }
  li {
    font-size: 16px;
    list-style: none;
  }
  i {
    color: rgb(140,140,140);
  }
  .homes-index-list-cards-likebutton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  a {
  border-radius: 5px;
  }
  }
  li {
    max-width: 400px;
  }
  .homes-index-list-cards-img {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

footer {
  background-color: gray;
  margin-top: 50px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  div,a {
    color: white;
    font-size: 14px;
  }
}



// end
// ---------------------------------------------------------------------
// homes#show

.homes-show-wrapper{
  h1, p {
  color: white;
  }
}

.homes-show-card-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homes-show-card {
  background-color: rgba(255,255,255, 0.8);
  display: flex;
  width: 700px;
  position: relative;
  p {
    color: rgb(15,15,15);
  }
  .btn {
    position: absolute;
    top: 250px;
    right: 20px;
  }
}

// end
// ---------------------------------------------------------------------
// homes#new

.homes-new-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  h3 {
    color: white;
    font-size: 64px;
  }
}


.homes-new-form-container {
  display: flex;
  justify-content: center;
}

.homes-new-form {
  padding: 40px;
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
  width: 50%;
  input {
    border-radius: 5px;
  }
  .create-home-button {
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  }
}

.form-bottom-buttons {
  display: flex;
  justify-content: space-between;
  input {
  font-size: 12px;
  }
}

#homes-new-backbutton a {
  text-decoration: none;
  color: white;
}

// end
// ---------------------------------------------------------------------
// homes#edit

.homes-edit-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  h3 {
    color: white;
    font-size: 64px;
  }
}

.homes-edit-form-container {
  display: flex;
  justify-content: center;
}


.homes-edit-form {
  padding: 40px;
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
  width: 50%;
  input {
    border-radius: 5px;
  }
  .create-home-button {
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  }
}

.form-bottom-buttons {
  display: flex;
  justify-content: space-between;
  input {
  font-size: 12px;
  }
}

#homes-edit-backbutton a {
  text-decoration: none;
  color: white;
}








