<h1>User Profile</h1>
<p>This is the user profile/dashboard page</p>

<div>
  <div> <!-- this is the apartment div -->
    <!-- <p><%= @homes %></p> -->

  </div>

  <div> <!-- this is the user info div -->
    <p><%= @user.email%></p>
    <p><%= @user.name %></p>
    <p><%= @user.phone_number %></p>
  </div>

  <div> <!-- this is the matches div -->
    <p> List of interested users </p>
  </div>

  <div> <!-- this is the message div -->
    <p> Message box </p>
  </div>

</div>
