 <h1>Pages#home</h1>


<p> <%= link_to "HOME (this page)", root_path %> <p>
<p> <%= link_to "HOMES", homes_path %> <p>
<p> <%= link_to "first home in the DB", home_path(1) %> <p>
<p> <%= link_to "users in your region??", home_path(1) %> <p>
<p>Find me in app/views/pages/home.html.erb</p>


