

<body>

  <!-- Upper Home (Banner + Modal Buttons) -->

  <div class="upper-wrapper">

    <!-- Banner  -->
    <div class="banner">


      <!-- Animation Home -->
      <h1>Está
        <span
        class="txt-rotate"
        data-period="2000"
        data-rotate='[ "procurando um apartamento?", "buscando alguém para morar com você?", "no lugar certo!" ]'></span>
      </h1>
      <!-- End Animation Home -->

    </div>

    <!-- Home Buttons -->
    <div class="modal-wrapper">
      <div class="modal-buttons">
        <!-- Button trigger modal owner -->
        <%= link_to new_home_path do %>
        <button type="button" class="buttons-home">
          Quero oferecer vagas
        </button>
        <% end %>
        <!-- Button trigger modal user -->
        <%= link_to homes_path do %>
        <button type="button" class="buttons-home">
          Quero encontrar vagas
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Home Buttons -->

<!-- Start Bottom Seccion -->
<div class="bottom-wrapper">
  <!-- User Testimonials -->
  <div class="row text-center">
    <div class="col-sm-6 col-md-4">
      <div class="testimonial-box">
        <img src="https://images.pexels.com/photos/206615/pexels-photo-206615.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="" width="90">
        <div class="ratings-icons">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </div>
        <h4>Joana Gomes</h4>
        <p>O Senhor Barriga me ajudou a encontrar as melhores colegas de quarto que eu poderia! Já estava cansada de procurar mas sempre era uma dor de cabeça. Em poucos dias meu anúncio teve várias curtidas e pude escolher com quem vou morar.</p>

      </div>
    </div> <!-- End Col -->

    <div class="col-sm-6 col-md-4">
      <div class="testimonial-box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtlV77iiy77jZPBi4tCAF4OhW3pLmzykfty5xHq5kcl6YFWtIfA" class="img-responsive" alt="" width="90">
        <div class="ratings-icons">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </div>
        <h4>Edson Oliveira</h4>
        <p>Estava buscando um quarto perto da faculdade e o Senhor Barriga me ajudou a encontrar a melhor opção, e o melhor de tudo, dentro do meu orçamento!</p>

      </div>
    </div> <!-- End Col -->

    <div class="col-sm-6 col-md-4">
      <div class="testimonial-box">
        <img src="https://images.pexels.com/photos/478544/pexels-photo-478544.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="" width="90">
        <div class="ratings-icons">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </div>
        <h4>Maria de Lourdes</h4>
        <p>Foi super legal poder escolher alguém entre as pessoas que curtiram meu anúncio. Acredito que vou me dar muito bem com minha nova colega de apartamento.</p>

      </div>
    </div> <!-- End Col -->
    <!-- End User Testimonials -->

  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https:www.senhorbarriga.com/"> SenhorBarriga.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End Footer -->
</body>
