<div class="homes-new-wrapper">

  <!-- Title -->
  <div class="homes-new-title">
    <h3>New home</h3>
  </div>
  <!-- End Title -->

  <!-- Back to Index Button  -->
  <div id="homes-new-backbutton">
  <%= link_to 'Back to index', homes_path %>
  </div>
  <!-- End Button -->

  <!-- Form -->
  <div class="homes-new-form-container">
    <div class="homes-new-form">
    <%= render 'form', home: @home %>
    </div>
  </div>
  <!-- End Form -->
</div>
