<h1>Homes</h1>
<p>This is the apartments page</p>


<div>

  <div> <!-- div pictures box -->
    <div>
      <p>Pictures goes here</p>
    </div>
  </div>

  <div> <!-- div home description -->
    <p><%= @home.description %></p> <!-- name -->
    <p><%= @home.address %></p> <!-- description -->
  </div>

  <div> <!-- div like button -->
  <%= link_to 'like button', root_path %> <!-- like button -->
  </div>
</div>
