<div class="users-new-wrapper">

  <!-- Title -->
  <div class="users-new-title">
    <h2>Log in</h2>
  </div>
  <!-- End Title -->

  <!-- Login Card -->
  <div class="users-new-login-container">
    <div class="users-new-login">
    <%= render "devise/shared/login_form" %>

    <!-- Forgot Password Links (inside login Card) -->
    <div class="users-new-forgotpass">
    <%= render "devise/shared/links" %>
    </div>
    <!-- End Forgot Password Links -->

    </div>
  </div>
  <!-- End Login Card -->


</div>
