<div class="users-signin-wrapper">

  <!-- Title -->
  <div class="users-signin-title">
    <h2>Log in</h2>
  </div>
  <!-- End Title -->

  <!-- Login Card -->
  <div class="users-signin-login-wrapper">
    <div class="users-signin-login">
    <%= render "devise/shared/login_form" %>

    <!-- Forgot Password Links (inside login Card) -->
    <div class="users-signin-forgotpass">
    <%= render "devise/shared/links" %>
    </div>
    <!-- End Forgot Password Links -->

    </div>
  </div>
  <!-- End Login Card -->

</div>
